@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Optima';
  src: url('/assets/fonts/Optima.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Optima', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer utilities {
  .animate-title-reveal {
    animation: reveal-title 1s ease-out forwards;
  }

  .animate-line-expand {
    animation: expand-line 1s ease-out forwards;
  }

  @keyframes reveal-title {
    from {
      transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes expand-line {
    from {
      width: 0;
    }
    to {
      width: 6rem; /* Adjust as needed */
    }
  }
}

.input {
  @apply w-full px-3 py-2 border border-slate-300 rounded-md focus:outline-none focus:ring-2 focus:ring-emerald-500;
}



